apostle_data/venv/
cse310_course_plan_online.docx
cse310_module_plan_online.docx
~$e310_personal_software_portfolio_online.docx
cse310_personal_software_portfolio_online.docx
cse310_module_submit_online.docx
cse310_ss_kaizen_online.docx
~$e310_module_plan_online.docx
cse310_ss_team_online.docx
~$e310_module_submit_online.docx
ner/venv
ner/__pycache__